<div class="row">
<div class="col-md-12" style="height:100px"></div>
</row>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="center-block">
    
    <div class="vcenter text-center" id="welcome" style="margin-left: 140px;"><p class="text-center">Welcome!</p></div>

    <div class="vcenter" id="tell_us"><p class="text-center">Tell us about yourself so we can locate your prescription drug history.</p></div>
    
</div>
  </div>
  <div class="col-md-6">
      <form class="home_form">
        <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Name</label><input type="text" name="name" value="Isabella Cobb">
</div>
  <div class="form-group"><label for="memberid" class="col-sm-3 control-label">Member ID</label>
  <input type="text" name="memberid" value="0545509499859"></div>
  <div class="form-group"><label for="email" class="col-sm-3 control-label">Email</label>
  <input type="text" name="email" value="user@senectus.com"></div>
  <div class="form-group"><label for="phone" class="col-sm-3 control-label">Phone</label>
  <input type="text" name="phone" value="415-555-55-55"></div>
  <br>
  <input type="submit" value="Submit">
</form>

  </div>
</div>




<script type="text/javascript">
$(function() {
  $('form').submit(function(){
    window.location.href = '/drugs';
    return false;
  });
});
</script>
