<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
    <div class="row"><div class="col-md-12" id="header" style="height:50px">

  </div>
</div>
  
<%= yield %>
</div>
</body>
</html>
